.d-flex {
  display: flex !important;
}
.justify-content-start {
  justify-content: start !important;
}
.justify-content-center {
  justify-content: center !important;
}
.justify-content-end {
  justify-content: end !important;
}
.justify-content-beteween {
  justify-content: space-between !important;
}
.justify-content-around {
  justify-content: space-around !important;
}
.justify-content-even {
  justify-content: space-evenly !important;
}
/* ------------------ */
.align-items-start {
  align-items: flex-start !important;
}
.align-items-center {
  align-items: center !important;
}
.align-items-end {
  align-items: flex-end !important;
}
/* ------------------------- */
.flex-row {
  flex-direction: row !important;
}
.flex-column {
  flex-direction: column !important;
}
.flex-wrap {
  flex-wrap: wrap !important;
}
.m-0 {
  margin: 0 !important;
}
.p-0 {
  padding: 0 !important;
}
.text-center {
  text-align: center !important;
}
.position-relative {
  position: relative !important;
}
.position-fixed {
  position: fixed !important;
}
.position-absolute {
  position: absolute !important;
}
/* ------------------------- */
